:root {
  /* COLORS */
  --BGCOLOR: #303030;
  --FONTCOLOR: whitesmoke;

  /* FONTS */
  --FS: 24px;
  --FF: "Playpen Sans", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: none;
}

html {
  background-color: var(--BGCOLOR);
  color: var(--FONTCOLOR);
  font-family: var(--FF);
  font-size: var(--FS);
  max-width: 550px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.center {
  text-align: center;
}

header h1 {
  font-size: 28px;
  text-align: center;
  display: inline;
}

header h1:hover,
header h1:focus-visible {
  text-decoration: underline;
}

.skip_link {
  padding: 0 8px;
  background-color: var(--BGCOLOR);
  color: var(--FONTCOLOR);
  position: absolute;
  left: -10000px;
  border: 2px solid var(--FONTCOLOR);
}

.skip_link:focus {
  left: auto;
}

.scoreboard {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.scoreboard__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  background-color: var(--FONTCOLOR);
  color: var(--BGCOLOR);
  font-weight: 1000;
}

.scoreboard__values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 1000;
  border: 2px solid var(--FONTCOLOR);
  border-top: none;
}

.scoreboard__values p {
  width: 50%;
  padding: 4px 0;
  text-align: center;
  font-size: 26px;
}

.scoreboard__values p:hover,
.scoreboard__values p:focus-visible {
  background-color: var(--FONTCOLOR);
  color: var(--BGCOLOR);
}

.scoreboard__values p:first-child {
  border-right: 2px solid var(--FONTCOLOR);
}

.gameboard__player h2,
.gameboard__computer h2 {
  font-size: 24px;
  display: inline;
}

.gameboard__player h2:hover,
.gameboard__player h2:focus-visible {
  text-decoration: underline;
}

.gameboard__gameplay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: 10px;
}

.gameboard__gameplay .icon_wrapper {
  width: 32%;
  height: auto;
  margin: 10px 0 0;
}

.gameboard__gameplay .icon_wrapper img {
  width: 100%;
  height: auto;
}

.gameboard__player .icon_wrapper:not(.no-hover) img:hover,
.gameboard__player .icon_wrapper:not(.no-hover) img:focus-visible {
  filter: brightness(110%);
  scale: 1.05;
  cursor: pointer;
}

.gameboard__player .selected {
  margin: 10px auto 0;
}

.gameboard__player .not-selected {
  width: 0;
  visibility: 0;
  transition: all 1s;
}

.cp_images_fadeout_animation {
  animation-name: fadeOut;
  animation-duration: 2.25s;
  animation-timing-function: linear;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
}

.cp_images_fadein_animation {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    scale: 1;
  }

  80% {
    opacity: 0.2;
    scale: 0.15;
  }

  100% {
    opacity: 0;
    scale: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0;
    transform: skew(0deg, 0deg);
    transform: rotate(0deg);
  }
  50% {
    opacity: 0.75;
    scale: 0.75;
    transform: skew(0deg, 10deg);
    transform: rotate(15deg);
  }

  80% {
    opacity: 1;
    scale: 1.15;
  }

  100% {
    opacity: 1;
    scale: 1;
    transform: skew(0deg, 0deg);
    transform: rotate(0deg);
  }
}

.playagain-btn {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 245, 245, 0.75);
  color: var(--BGCOLOR);
  border: 4px groove var(--BGCOLOR);
  font-family: inherit;
  font-weight: 1000;
  font-size: 32px;
  padding: 1px 8px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

@media screen and (max-height: 542px) {
  html {
    position: static;
    top: 0;
    transform: none;
  }
}
